{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Accueil</h1>
<ul>
    <li><a href="/client">Client</a></li>
    <li><a href="/command">Command</a></li>
    <li><a href="/produit">Produit</a></li>
</ul>
{% endblock %}
