{% extends 'base.html.twig' %}

{% block title %}Create Produit{% endblock %}

{% block body %}
    <h1>Create Produit</h1>

    {{ form_start(form) }}

        {{ form_row(form.prLabel) }}

        {{ form_row(form.prPrixUnitaire) }}
    <div class="form-buttons">
        <button class="btn btn-success">Edit</button>
        <a href="/produit">
            <button type="button">Annuler</button>
        </a>
    </div>
    {{ form_end(form) }}

{% endblock %}